/* Reset basique */

:root{  
    --bg-color: #dfccb2;
    --font-color: #664c2f;
    --button-bg-color: #664c2f;
    --section-height: 60vh;
    --border-color: white;
    --bigger-text-size: 10vw;
    --big-text-size: 6vw;
    --avg-text-size: 4vw;
    --logo-size: 3rem;
    --border-width: 1px;
}

@font-face {
    font-family: dynalight;
    src: url(../Dynalight/Dynalight-Regular.ttf);
    font-size: larger;
}

@font-face {
    font-family: ebg;
    src: url(../EB_Garamond/EBGaramond-VariableFont_wght.ttf)
}

.fancy{
    font-family: dynalight;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ebg;
    line-height: 1.6;
    color: var(--font-color);
    background-color: var(--bg-color);
    font-size: var(--avg-text-size);
}

.container {
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

section{
    border-bottom : solid var(--border-color);
    border-width: var(--border-width);
}

/* Navigation */

nav {
    display: flex;
    flex-direction : column;
    align-items: center;
    width: auto;
    background-color : var(--bg-color);
}

@media (min-width:470px){
    nav{
        border-bottom: solid var(--border-width) var(--border-color);
    }
}

.logo-small {
    height: var(--logo-size);    /* Le logo prend 100% de la hauteur de la navbar */
    width: auto;     /* Garde les proportions de l'image */
    display: block;  /* Enlève l'espace vide sous l'image */
    border: none;    /* Optionnel : retire la bordure si tu n'en veux plus */
    align-self: left;
}

nav ul {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    width: auto;  
    margin: auto;
    list-style-type: none;
}


nav ul li a {
    text-decoration: none;
    color: var(--font-color);
}


/* Hero Section */
.countdown {
    font-weight: normal;
    display:grid;
    color : var(--font-color);
    background-color: var(--bg-color);
    text-align: center;
    padding:0;
    margin: auto;
}

.hero img{
    margin:auto;
}

@media (min-width : 470px){
    .countdown{
        max-width: 90%;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: none;
    }

    .hero{
        grid-template-columns: repeat(3, 1fr);
        display: grid;
    }

    .hero img{
        width:90%;
        margin: 40px auto 40px;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .time{
        font-size: 3vw;
    }

    .indicator{
        font-size:2vw;
    }
}

@media (max-width:470px){
    .hero img{
        width:100%;
    }

    .countdown {
        grid-template-columns: repeat(4, 1fr);
    }

    .time{
        font-size: var(--bigger-text-size);
    }
}



/* Section Intro */
.intro-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.vert-img {
    height : 50vw;
    margin:auto;
}

.texte{
    font-style: italic;
}

.verset{
    text-align: left;
}

.reference{
    text-decoration: underline;
    text-align: right;
}

/* Programme */

.programme{
    height:auto;
}

h2 {
    font-size: var(--bigger-text-size);
    font-weight: initial;
}

.moment{
    border-bottom: solid var(--border-color);
    border-width: var(--border-width);
    padding : 5vw;
}
.moment img {
    width: 25vw;
}

.horaire{
    font-size: var(--bigger-text-size);
}

.event{
    font-size:var(--big-text-size);
}

button{
    background: var(--button-bg-color);
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: var(--avg-text-size);
    color: var(--bg-color);
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 4.5vw 1vw 4.5vw;
    font-family: inherit;
    
}

@media (min-width:750px){

    .moment{
        border-bottom: none;
    }
    .moments-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4vw;
        margin: auto;
    }

    .moment img {
        width: 18vw;
    }

    .event{
        font-size:2vw; /*???*/
    }
}


.plus-infos {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    font-style: italic;
    color : inherit;
    cursor:pointer;
}


/* Thème */


.big-lorem {
    font-size: var(--bigger-text-size);
    font-weight: normal;
    margin: 20px 0;
}

.collapsible{
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 4.5vw 1vw 4.5vw;
}

.collapsible:after {
  content: '+';
  float: right;
  margin-left: 5px;
  color:var(--bg-color);
}

.content{
    transition: max-height 0.2s ease-out;
    max-height: 0;
    text-align:left;
    font-size: var(--avg-text-size);
    color: var(--bg-color);
    background: var(--button-bg-color);
    border-top: solid 1px;
    padding: 0 0.5em 0;
    padding-top: 0px;
    padding-right: 0.5em;
    padding-bottom: 0px;
    padding-left: 0.5em;
    overflow:hidden;
}

/* Footer */
footer {
    background-color: var(--bg-color);
    color: var(--font-color);
    text-align: center;
    padding: 40px 0;
}

.logo-footer {
    width: 60px;
}


