/* Reset basique */

:root {
    /*general*/
    --bg-color : #000;
    --dark-bg-text-color : #ede1c6;
    --section-height : 60vh;

    /*nav*/
    --nav-font-size : 1.1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--dark-bg-text-color);
    background-color: var(--bg-color);
}

.container {
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

/* Navigation */
header {
    background-color: #e0e0e0;
    padding: 0 0px; /* On met le padding vertical à 0 pour que le logo puisse toucher les bords */
}

nav {
    display: flex;
    flex-direction : column;
    align-items: center;
    width: auto;
    background-color : var(--bg-color);
}


.logo-container {
    height: 3rem;
}

.logo-small {
    height: 100%;    /* Le logo prend 100% de la hauteur de la navbar */
    width: auto;     /* Garde les proportions de l'image */
    display: block;  /* Enlève l'espace vide sous l'image */
    border: none;    /* Optionnel : retire la bordure si tu n'en veux plus */
    align-self: left;
}

nav ul {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    width: auto;  
    margin: auto;
    list-style-type: none;
}


nav ul li a {
    text-decoration: none;
    color: var(--dark-bg-text-color);
    font-size: var(--nav-font-size);
}


/* Hero Section */



.hero img{
    width:100%;
}

.countdown {
    font-size: 2.5rem;
    font-weight: normal;
    color : var(--dark-bg-text-color);
    background-color: var(--bg-color);
    text-align: center;
    padding:0;
}

/* Section Intro */
.intro-section {
    display: grid;
    justify-content: center;
    align-items: center;
    height : var(--section-height);
}

.vert-img {
    height : 15em;
    margin:auto;
}

.intro-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Programme */

.programme{
    height:auto;
    max-width: 100%;
}

.programme h2, .theme h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}


.moment img {
    width: 100px;
    background-color: #fff;
}

.moment p {
    margin-top: 10px;
    font-size: 1.2rem;
}

.plus-infos {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    font-style: italic;
    color : inherit;
}


/* Thème */

.theme{
    height : var(--section-height);
}
.big-lorem {
    font-size: 5rem;
    font-weight: normal;
    margin: 20px 0;
}


/* Footer */
footer {
    background-color: var(--bg-color);
    color: var(--dark-bg-text-color);
    text-align: center;
    padding: 40px 0;
    margin-top: 50px;
}

.logo-footer {
    width: 60px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.contact {
    font-size: 0.9rem;
}
