/* Reset basique */

:root {
    /*general*/
    --bg-color : #000;
    --dark-bg-text-color : #ede1c6;
    --section-height : 60vh;
    --button-bg-color : #ede1c6;
    --border-width : 1px;
    --border-color : white;
    --title-font-size : 10vw;

    /*nav*/
    --nav-font-size : 1.1rem;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--dark-bg-text-color);
    background-color: var(--bg-color);
}

.container {
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

section{
    border-bottom : solid var(--border-color);
    padding-bottom: 5vw;
    border-width: var(--border-width);
}

/* Navigation */
header {
    background-color: #e0e0e0;
    padding: 0 0px; /* On met le padding vertical à 0 pour que le logo puisse toucher les bords */
}

nav {
    display: flex;
    flex-direction : column;
    align-items: center;
    width: auto;
    background-color : var(--bg-color);
}


.logo-container {
    height: 3rem;
}

.logo-small {
    height: 100%;    /* Le logo prend 100% de la hauteur de la navbar */
    width: auto;     /* Garde les proportions de l'image */
    display: block;  /* Enlève l'espace vide sous l'image */
    border: none;    /* Optionnel : retire la bordure si tu n'en veux plus */
    align-self: left;
}

nav ul {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    width: auto;  
    margin: auto;
    list-style-type: none;
}


nav ul li a {
    text-decoration: none;
    color: var(--dark-bg-text-color);
    font-size: var(--nav-font-size);
}


/* Hero Section */

.hero img{
    width:100%;
}

.countdown {
    font-weight: normal;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    color : var(--dark-bg-text-color);
    background-color: var(--bg-color);
    text-align: center;
    padding:0;
    margin: auto;
}

@media (min-width : 470px){
    .countdown{
        max-width: 90%;
    }
}

.time{
    font-size:10vw;
}

.indicator{
    font-size:5vw;
}

/* Section Intro */
.intro-section {
    display: grid;
    justify-content: center;
    align-items: center;
}

.vert-img {
    height : 15em;
    margin:auto;
}

.intro-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Programme */

.programme{
    height:auto;
    max-width: 100%;
}

h2 {
    font-size: var(--title-font-size);
}

.moment{
    border-bottom: solid var(--border-color);
    border-width: var(--border-width);
    padding : 5vw;
}
.moment img {
    width: 25vw;
}

.horaire{
    font-size: 10vw;
}

.event{
    font-size:6vw;
}

.infos{
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 5%;
    padding: 1vw 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top:5vw
}

@media (min-width:750px){
    .moments-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5vw;
        max-width: 85%;
        margin: auto;
    }

    .moment img {
        width: 20vw;
    }

    .event{
        font-size:2vw;
    }
}


.plus-infos {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    font-style: italic;
    color : inherit;
    cursor:pointer;
}


/* Thème */

.theme{
    height : var(--section-height);
}
.big-lorem {
    font-size: 5rem;
    font-weight: normal;
    margin: 20px 0;
}


/* Footer */
footer {
    background-color: var(--bg-color);
    color: var(--dark-bg-text-color);
    text-align: center;
    padding: 40px 0;
    margin-top: 50px;
}

.logo-footer {
    width: 60px;
    border: 1px solid #000;
    margin-bottom: 20px;
}

.contact {
    font-size: 0.9rem;
}
