/* Reset basique */

:root {
    /*colors*/
    --bg-color : #000;
    --dark-bg-text-color : #ede1c6;
    --button-bg-color : #ede1c6;
    --section-height : 60vh;
    --border-color : white;
    
    /*font sizes*/
    --bigger-text-size : 10vw;
    --big-text-size : 6vw;
    --avg-text-size : 4vw;

    /*img sizes*/
    --logo-size : 3rem;

    /*other*/
    --border-width : 1px;
    
    
   
    /*nav*/
    

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--dark-bg-text-color);
    background-color: var(--bg-color);
    font-size: var(--avg-text-size);
}

.container {
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

section{
    border-bottom : solid var(--border-color);
    border-width: var(--border-width);
}

/* Navigation */

nav {
    display: flex;
    flex-direction : column;
    align-items: center;
    width: auto;
    background-color : var(--bg-color);
}

.logo-small {
    height: var(--logo-size);    /* Le logo prend 100% de la hauteur de la navbar */
    width: auto;     /* Garde les proportions de l'image */
    display: block;  /* Enlève l'espace vide sous l'image */
    border: none;    /* Optionnel : retire la bordure si tu n'en veux plus */
    align-self: left;
}

nav ul {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    width: auto;  
    margin: auto;
    list-style-type: none;
}


nav ul li a {
    text-decoration: none;
    color: var(--dark-bg-text-color);
}


/* Hero Section */

.hero img{
    width:100%;
}

.countdown {
    font-weight: normal;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    color : var(--dark-bg-text-color);
    background-color: var(--bg-color);
    text-align: center;
    padding:0;
    margin: auto;
}

@media (min-width : 470px){
    .countdown{
        max-width: 90%;
    }
}

.time{
    font-size: var(--bigger-text-size)
}

/* Section Intro */
.intro-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.vert-img {
    height : 50vw;
    margin:auto;
}

.texte{
    font-style: italic;
}

.verset{
    text-align: left;
}

.reference{
    text-decoration: underline;
    text-align: right;
}

/* Programme */

.programme{
    height:auto;
}

h2 {
    font-size: var(--bigger-text-size);
    font-weight: initial;
}

.moment{
    border-bottom: solid var(--border-color);
    border-width: var(--border-width);
    padding : 5vw;
}
.moment img {
    width: 25vw;
}

.horaire{
    font-size: var(--bigger-text-size);
}

.event{
    font-size:var(--big-text-size);
}

button{
    background-color: var(--button-bg-color);
    border: none;
    padding: 1vw 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top:5vw;
    font-size: var(--avg-text-size);
}

@media (min-width:750px){

    .moment{
        border-bottom: none;
    }
    .moments-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4vw;
        margin: auto;
    }

    .moment img {
        width: 18vw;
    }

    .event{
        font-size:2vw; /*???*/
    }
}


.plus-infos {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    font-style: italic;
    color : inherit;
    cursor:pointer;
}


/* Thème */


.big-lorem {
    font-size: var(--bigger-text-size);
    font-weight: normal;
    margin: 20px 0;
}

.collapsible{
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 4.5vw 1vw 4.5vw;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  color: white;
  float: right;
  margin-left: 5px;
}

.content{
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
    text-align:left;
    font-size: var(--avg-text-size);
}

/* Footer */
footer {
    background-color: var(--bg-color);
    color: var(--dark-bg-text-color);
    text-align: center;
    padding: 40px 0;
    margin-top: 50px;
}

.logo-footer {
    width: 60px;
    border: 1px solid #000;
    margin-bottom: 20px;
}


